[submodule "st"]
	path = st
	url = https://github.com/EclipseLord/st
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/EclipseLord/slstatus
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/EclipseLord/dmenu
